<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="stylesheet" href="static/css/admin.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
</head>

<div class="admin">
    <div class="header">Admin Panel</div>

    <div class="grid">

        <!-- Пользователи -->
        <div class="card">
            <h3>Users</h3>

            {% if users %}
                <p>Users: <b>{{ users|length }}</b></p>

                <table border="1" cellpadding="6">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Email</th>
                            <th>Username</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                            <tr>
                                <td>{{ user[0] }}</td>
                                <td>{{ user[1] }}</td>
                                <td>{{ user[2] }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p class="muted">Нет данных</p>
            {% endif %}
        </div>
    </div>
</div>
</body>
</html>
