<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="static/css/game.css" />
<title>Cookie Clicker</title>

</head>

<body>

<div class="account-wrapper">
    <img src="/static/avatar.png" alt="Avatar" id="account-icon">
    <div class="account-popup" id="account-popup">
        <div class="popup-username" id="popup-username">{{ username }}</div>
        <button id="popup-logout-btn">Logout</button>
    </div>
</div>

<div class="container">
    <div class="section cookie-zone" id="cookie-container">
        <div id="cookie"></div>
        <div id="cookie-count">0 cookies</div>
    </div>

    <div class="section center">
        <h2>Active Upgrades</h2>
        <div id="upgrades"></div>
    </div>

    <div class="section">
        <h2>Level Up Shop</h2>
        <div id="levelup-shop"></div>
        <h2>Main Shop</h2>
        <div id="shop"></div>
    </div>
</div>
<script src="static/js/game.js"></script>
</body>
</html>