<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Login - Cookie Clicker</title>
    <link rel="stylesheet" href="static/css/login.css" />
  </head>
  <body>
    <div class="login-container">
    <h1>Login</h1>
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}

      <form id="login-form" method="POST">
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required />
          <small id="email-error"></small>
        </div>

        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required />
          <small id="password-error"></small>
        </div>

        <button type="submit">Login</button>
      </form>

      <p>Don't have an account? <a href="/registration">Register here</a></p>
    </div>

    <script src="static/js/login.js"></script>
  </body>
</html>
